html  
    head
        title Blog Title
    body
        header
            p Thanks for reading my legitimate blog
        section
            p Your IP address is #{ip}.
            p <img src="/1.png" alt="1" height="42" width="42">
        footer
            p
